log*
LogOuput*
LogOutput/
LogProfile*
nohup.out
*.o
*output*
sciddicaTcl
sciddicaTcl_with_halo_cells
sciddicaTcl_without_halo_cells
sciddicaTcudaStraightforward
sciddicaTcudawithHaloCells
sciddicaTcudaWithoutHaloCells
sciddicaT_nolibs_CUDA/sciddicaTcuda*
sciddicaTserial
sciddicaTsycl_dpcpp
sciddicaTsycl_dpcpp_with_halo_cells
sciddicaTsycl_dpcpp_without_halo_cells
setenv_vega.txt
